## importing libraries

In [2]:
import pandas as pd
import numpy as np

## getting data

In [3]:
data = pd.read_csv('Table of Size Standards_Effective July 14 2022.csv')

In [4]:
data.head()

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
1,Subsector 111 – Crop Production,NaN,NaN,NaN,NaN
2,111110,Soybean Farming,$2.0,NaN,NaN
3,111120,Oilseed (except Soybean) Farming,$2.0,NaN,NaN
4,111130,Dry Pea and Bean Farming,$2.5,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149 entries, 0 to 1148
Data columns (total 5 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   NAICS Codes                             1126 non-null   object
 1   NAICS Industry Description              1060 non-null   object
 2   Size standards
in millions of dollars  532 non-null    object
 3   Size standards in number of employees   505 non-null    object
 4   Footnotes                               39 non-null     object
dtypes: object(5)
memory usage: 45.0+ KB

## checking for nulls

In [6]:
data.isnull().sum()

NAICS Codes                                  23
NAICS Industry Description                   89
Size standards \nin millions of dollars     617
Size standards in number of employees       644
Footnotes                                  1110
dtype: int64

In [7]:
data = data[data['NAICS Codes'].isnull()]

In [8]:
data.sample(10)

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes
764,NaN,Sector 51 – Information,NaN,NaN,NaN
1095,NaN,Sector 81 – Other Services,NaN,NaN,NaN
1077,NaN,Sector 72 – Accommodation and Food Services,NaN,NaN,NaN
802,NaN,Sector 52 – Finance and Insurance,NaN,NaN,NaN
875,NaN,"Sector 54 – Professional, Scientific and Techn...",NaN,NaN,NaN
1147,NaN,Sector 92 – Public Administration,NaN,NaN,See footnote 17
103,NaN,Sector 22 – Utilities,NaN,NaN,NaN
119,NaN,Sector 23 – Construction,NaN,NaN,NaN
1004,NaN,Sector 62 – Health Care and Social Assistance,NaN,NaN,NaN
984,NaN,Sector 61 – Educational Services,NaN,NaN,NaN

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 1148
Data columns (total 5 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   NAICS Codes                             0 non-null      object
 1   NAICS Industry Description              23 non-null     object
 2   Size standards
in millions of dollars  0 non-null      object
 3   Size standards in number of employees   0 non-null      object
 4   Footnotes                               1 non-null      object
dtypes: object(5)
memory usage: 1.1+ KB

In [10]:
data['Lookup Codes'] = data['NAICS Industry Description'].str.slice(start=7, stop=9)

In [11]:
data['Sector'] = data['NAICS Industry Description'].str.slice(start=12, stop=538)

In [12]:
data

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes,Lookup Codes,Sector
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN,11,"Agriculture, Forestry, Fishing and Hunting"
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN,21,"Mining, Quarrying, and Oil and Gas Extraction"
103,NaN,Sector 22 – Utilities,NaN,NaN,NaN,22,Utilities
119,NaN,Sector 23 – Construction,NaN,NaN,NaN,23,Construction
156,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN,31,33 – Manufacturing
538,NaN,Sector 42 – Wholesale Trade,NaN,NaN,NaN,42,Wholesale Trade
539,NaN,(These NAICS codes shall not be used to classi...,NaN,NaN,NaN,NA,codes shall not be used to classify Governmen...
614,NaN,Sector 44 - 45 – Retail Trade,NaN,NaN,NaN,44,45 – Retail Trade
615,NaN,(These NAICS codes shall not be used to classi...,NaN,NaN,NaN,NA,codes shall not be used to classify Governmen...
694,NaN,Sector 48 - 49 – Transportation and Warehousing,NaN,NaN,NaN,48,49 – Transportation and Warehousing
764,NaN,Sector 51 – Information,NaN,NaN,NaN,51,Information
802,NaN,Sector 52 – Finance and Insurance,NaN,NaN,NaN,52,Finance and Insurance
847,NaN,Sector 53 – Real Estate and Rental and Leasing,NaN,NaN,NaN,53,Real Estate and Rental and Leasing
875,NaN,"Sector 54 – Professional, Scientific and Techn...",NaN,NaN,NaN,54,"Professional, Scientific and Technical Services"
932,NaN,Sector 55 – Management of Companies and Enterp...,NaN,NaN,NaN,55,Management of Companies and Enterprises
936,NaN,Sector 56 – Administrative and Support and Was...,NaN,NaN,NaN,56,Administrative and Support and Waste Managemen...
984,NaN,Sector 61 – Educational Services,NaN,NaN,NaN,61,Educational Services
1004,NaN,Sector 62 – Health Care and Social Assistance,NaN,NaN,NaN,62,Health Care and Social Assistance
1048,NaN,"Sector 71 – Arts, Entertainment and Recreation",NaN,NaN,NaN,71,"Arts, Entertainment and Recreation"
1077,NaN,Sector 72 – Accommodation and Food Services,NaN,NaN,NaN,72,Accommodation and Food Services
1095,NaN,Sector 81 – Other Services,NaN,NaN,NaN,81,Other Services
1147,NaN,Sector 92 – Public Administration,NaN,NaN,See footnote 17,92,Public Administration
1148,NaN,(Small business size standards are not establi...,NaN,NaN,NaN,bu,ess size standards are not established for thi...

In [13]:
data[['NAICS Industry Description', 'Lookup Codes', 'Sector']]

,NAICS Industry Description,Lookup Codes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
103,Sector 22 – Utilities,22,Utilities
119,Sector 23 – Construction,23,Construction
156,Sector 31 – 33 – Manufacturing,31,33 – Manufacturing
538,Sector 42 – Wholesale Trade,42,Wholesale Trade
539,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
614,Sector 44 - 45 – Retail Trade,44,45 – Retail Trade
615,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
694,Sector 48 - 49 – Transportation and Warehousing,48,49 – Transportation and Warehousing
764,Sector 51 – Information,51,Information
802,Sector 52 – Finance and Insurance,52,Finance and Insurance
847,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
875,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
932,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
936,Sector 56 – Administrative and Support and Was...,56,Administrative and Support and Waste Managemen...
984,Sector 61 – Educational Services,61,Educational Services
1004,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1048,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1077,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1095,Sector 81 – Other Services,81,Other Services
1147,Sector 92 – Public Administration,92,Public Administration
1148,(Small business size standards are not establi...,bu,ess size standards are not established for thi...

In [14]:
data['Sector'] = np.where(data['Sector'] == '33 – Manufacturing', 'Manufacturing', data['Sector'])

In [15]:
data['Sector'] = np.where(data['Sector'] == '45 – Retail Trade', 'Retail Trade', data['Sector'])

In [16]:
data['Sector'] = np.where(data['Sector'] == '49 – Transportation and Warehousing', 'Transportation and Warehousing', data['Sector'])

In [17]:
data.head(10)

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes,Lookup Codes,Sector
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN,11,"Agriculture, Forestry, Fishing and Hunting"
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN,21,"Mining, Quarrying, and Oil and Gas Extraction"
103,NaN,Sector 22 – Utilities,NaN,NaN,NaN,22,Utilities
119,NaN,Sector 23 – Construction,NaN,NaN,NaN,23,Construction
156,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN,31,Manufacturing
538,NaN,Sector 42 – Wholesale Trade,NaN,NaN,NaN,42,Wholesale Trade
539,NaN,(These NAICS codes shall not be used to classi...,NaN,NaN,NaN,NA,codes shall not be used to classify Governmen...
614,NaN,Sector 44 - 45 – Retail Trade,NaN,NaN,NaN,44,Retail Trade
615,NaN,(These NAICS codes shall not be used to classi...,NaN,NaN,NaN,NA,codes shall not be used to classify Governmen...
694,NaN,Sector 48 - 49 – Transportation and Warehousing,NaN,NaN,NaN,48,Transportation and Warehousing

In [18]:
data = data[['NAICS Industry Description', 'Lookup Codes', 'Sector']]

In [19]:
data = data[data['Lookup Codes'].str.isnumeric()]

In [20]:
data.head()

,NAICS Industry Description,Lookup Codes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
103,Sector 22 – Utilities,22,Utilities
119,Sector 23 – Construction,23,Construction
156,Sector 31 – 33 – Manufacturing,31,Manufacturing

In [21]:
data.loc[len(data.index)] = ['Sector 31 - 33 - Manufacturing', 32, 'Manufacturing']
data.loc[len(data.index)] = ['Sector 31 - 33 - Manufacturing', 33, 'Manufacturing']

In [22]:
df = {'NAICS Industry Description': 'Sector 44 - 45 – Retail Trade', 'Lookup Codes': 45, 'Sector': 'Retail Trade'}
data = data.append(df, ignore_index =  True)

C:\Users\md tohidul islam\AppData\Local\Temp\ipykernel_8628\364048454.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(df, ignore_index =  True)

In [23]:
data.sample(10)

,NAICS Industry Description,Lookup Codes,Sector
21,Sector 31 - 33 - Manufacturing,33,Manufacturing
8,Sector 51 – Information,51,Information
7,Sector 48 - 49 – Transportation and Warehousing,48,Transportation and Warehousing
1,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
20,Sector 31 - 33 - Manufacturing,32,Manufacturing
22,Sector 44 - 45 – Retail Trade,45,Retail Trade
10,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
9,Sector 52 – Finance and Insurance,52,Finance and Insurance
12,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
3,Sector 23 – Construction,23,Construction

In [24]:
data.loc[len(data.index)] = ['Sector 48 - 49 – Transportation and Warehousing', 49, 'Transportation and Warehousing']

In [25]:
data.head()

,NAICS Industry Description,Lookup Codes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
1,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
2,Sector 22 – Utilities,22,Utilities
3,Sector 23 – Construction,23,Construction
4,Sector 31 – 33 – Manufacturing,31,Manufacturing

### Now time to create csv file with clean data

In [26]:
data.to_csv('clean_data_without_index.csv', encoding = 'utf-8', index = False)